.contacts-wrapper {
  height: 100vh;
  overflow: hidden;
  background: #f5f6fa;
}

.contacts-list-section {
  width: 30%;
  min-width: 30%;
  max-width: 30%;

  height: 100vh;
  background: #f7f7fb;
  border-right: 1px solid #ececf4;
  overflow: hidden;
}

.contact-detail-section {
  height: 100vh;
  overflow-y: auto;
  background: white;
}